* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #5a83ba;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(159, 192, 223);
    z-index: 999;
    transition: top 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(71, 71, 71, 0.568);
  }
  
  .cabecalho {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }
  
  main {
    max-width: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .box {
    background-color: rgba(6, 60, 136, 0.28);
    border-radius: 15px;
    padding: 20px;
  }
  
  .resumo {
    display: flex;
    padding: 10px 0;
    gap: 40px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .resumo > div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px #1f1f1f;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
  }
  
  .novo-item {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .novoItem > button {
    background-color: #788699;
    color: rgb(255, 255, 255);
    border: none;
    padding: 0 15px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
  }
  
  input, select {
    padding: 5px;
    border-radius: 7px;
  }
  
  .tabela-itens {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  table {
    width: 98%;
    padding: 20px 0;
    border-radius: 5px;
  }
  
  th {
    text-align: start;
    border-bottom: inset;
    padding-bottom: 5px;
  }
  
  i {
    font-size: 25px;
  }
  
  .columnAcao {
    width: 40px;
    text-align: center;
  }
  
  .columnValor {
    width: 30%;
  }
  
  .columnTipo {
    width: 80px;
    text-align: center;
  }
  
  .columnAcao > button {
    background: transparent;
    border: none;
  }
  
  .tema img {
    width: 300px;
    margin-right: 1200px;
    margin-top: -40px;
    padding: 10px;
  }
  
  .h1  {
    color: rgb(61, 80, 141);
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }
  .h2 {
    color: rgb(68, 102, 194);
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
  }